foo { margin: 122px / 3 * 1; }
bar { margin: 21px * 3; }
// I'm a comment

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
/*
 big comment
*/
body {
  font: 100% $font-stack;
  color: $primary-color;
}
